@use '../variables' as *;

:root {
  --body-bg: #{$white};
  --body-color: #{$black};

  /* Typography */
  --font-size-base: 1rem;
  --font-family-base: 'Inter', sans-serif;
  --font-family-heading: 'Inter', sans-serif;

  --body-font-family: var(--font-family-base);
  --body-font-size: var(--font-size-base);
  --body-font-weight: 400;
  --body-line-height: 1.45;

  --heading-font-size-base: var(--font-size-base);
  --heading-font-family: var(--font-family-heading);
  --heading-font-weight: 500;
  --heading-color: #{$dark};
  --heading-margin-bottom: 1rem;
  --heading-line-height: 1.15;

  --link-color: #{$black};
  --link-hover-color: #{$black};
}
